<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Repository Create Status</title>
    <style>
        body {
            background: #FFEEEE;
            background: -webkit-linear-gradient(to left, #DDEFBB, #FFEEEE);
            background: linear-gradient(to left, #DDEFBB, #FFEEEE);
            text-align: center;
            margin-top: 10%;
        }

        .img_container {
            text-align: center;
            margin: 5px 0 10px 0;
        }

        .circular--square {
            width: 10%;
            border-radius: 100%;
        }
    </style>
</head>
<body>
<h2>Repository Created in GitHub...! </h2>
<h2>Great!! </h2>
{{ data }}
<div class="img_container" style="padding: 30px;">
    <img class="circular--square" src="../static/img/thumb.jpg" alt="Avatar">
</div>
</body>
</html>





